body {
    font-size: 13pt;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    height: 297mm;
    width: 210mm;
    margin-left: 2.2cm; 
    margin-right: 1.5cm;
    }
img {
    width: 650px;
    margin: auto;
    padding: 20 70;
}
td.tab {
    padding-left: 5px;
    border-collapse: collapse;
    border:1px solid;  
    text-align: right; 
}
.name {
    margin: auto;
    padding: 135 0 25 0;
}
th.header {
    font-size: 8pt;
    font-family:'Times New Roman', Times, serif; 
    text-align: left;
    font-weight: bold;
}
.textdate {
    width: 190px;
    height: 20px;
    font-size: 13pt; 
    font-family: 'Times New Roman', Times, serif;
}
.textid {
    width: 300px;
    height: 20px;
    font-size: 13pt; 
    font-family: 'Times New Roman', Times, serif;
}   
.txt1 {
    width: 350px;
    height: 20px;
    font-size: 13pt; 
    font-family: 'Times New Roman', Times, serif;
}
.txt2 {
    width: 120px;
    height: 20px;
    font-size: 13pt; 
    font-family: 'Times New Roman', Times, serif;
}
.txt3 {
    width: 91px;
    height: 20px;
    font-size: 13pt; 
    font-family: 'Times New Roman', Times, serif;
}
.txt4 {
    width: 380px;
    height: 20px;
    font-size: 13pt; 
    font-family: 'Times New Roman', Times, serif;
}
.txt5 {
    width: 273px;
    height: 20px;
    font-size: 13pt; 
    font-family: 'Times New Roman', Times, serif;
}
.txt6 {
    width: 174px;
    height: 20px;
    font-size: 13pt; 
    font-family: 'Times New Roman', Times, serif;
}
.txt7 {
    width: 617px;
    height: 20px;
    font-size: 13pt; 
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.txt8 {
    width: 50px;
    height: 20px;
    font-size: 13pt; 
    font-family: 'Times New Roman', Times, serif;
}
.txt9 {
    width: 794px;
    height: 20px;
    font-size: 13pt; 
}
.txt10 {
    width: 450px;
    height: 20px;
    font-size: 13pt; 
}
.txt11 {
    width: 154px;
    height: 20px;
    font-size: 13pt; 
}
.txtsup {
    margin: 0 0 0 510;
}
@media print {
    form { display: none; }
}