body {
    font-size: 14pt;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    height: 297mm;
    width: 210mm;
    margin-left: 2.5cm; 
    margin-right: 1.5cm;
}
img {
    width: 650px;
    margin: auto;
    padding: 5 60;
}
td.tab {
    padding-left: 5px;
    border-collapse: collapse;
    border:1px solid;  
    text-align: right; 
}
.textarea {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    height: 20px;
    border-color: white;
    overflow: hidden;
    vertical-align: text-top;
}
.name {
    margin: auto;
    padding: 90 0 15 0;
}
.textbox {
    width: 55px;
    height: 18px;
    font-size: 11pt; 
    font-family: 'Times New Roman', Times, serif;
}
.textboxlong {
    width: 550px;
    height: 18px;
    font-size: 11pt; 
    font-family: 'Times New Roman', Times, serif;
}
.textdate {
    width: 150px;
    height: 18px;
    font-size: 11pt; 
    font-family: 'Times New Roman', Times, serif;
}
.teg {
    width: 480px;
    height: 18px;
    font-size: 11pt; 
    font-family: 'Times New Roman', Times, serif;
}
.textid {
    width: 260px;
    height: 18px;
    font-size: 11pt; 
    font-family: 'Times New Roman', Times, serif;
}    
@media print {
    form { display: none; }
}