body {
    font-size: 13pt;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    height: 297mm;
    width: 210mm;
    margin-left: 2.2cm; 
    margin-right: 1.5cm;
}
img {
    width: 650px;
    margin: auto;
    padding: 5 60;
}
td.tab {
    padding-left: 5px;
    border-collapse: collapse;
    border:1px solid;  
    text-align: right; 
}
.name {
    margin: auto;
    padding: 130 0 15 0;
}
th.header {
    font-size: 8pt;
    font-family:'Times New Roman', Times, serif; 
    text-align: left;
    font-weight: bold;
}
.textdate {
    width: 150px;
    height: 18px;
    font-size: 11pt; 
    font-family: 'Times New Roman', Times, serif;
}
.textid {
    width: 260px;
    height: 18px;
    font-size: 11pt; 
    font-family: 'Times New Roman', Times, serif;
}   
.txt1 {
    width: 380px;
    height: 18px;
    font-size: 11pt; 
    font-family: 'Times New Roman', Times, serif;
}
.txt2 {
    width: 168px;
    height: 18px;
    font-size: 11pt; 
    font-family: 'Times New Roman', Times, serif;
}
.txt3 {
    width: 145px;
    height: 18px;
    font-size: 11pt; 
    font-family: 'Times New Roman', Times, serif;
}
.txt4 {
    width: 380px;
    height: 18px;
    font-size: 11pt; 
    letter-spacing: 1.4;
    font-family: 'Times New Roman', Times, serif;
}
.txt5 {
    width: 295px;
    height: 18px;
    font-size: 11pt; 
    letter-spacing: 1.4;
    font-family: 'Times New Roman', Times, serif;
}
.txt6 {
    width: 222px;
    height: 18px;
    font-size: 11pt; 
    letter-spacing: 1.1;
    font-family: 'Times New Roman', Times, serif;
}
.txt7 {
    width: 746px;
    height: 18px;
    font-size: 11pt; 
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.txt8 {
    width: 50px;
    height: 18px;
    font-size: 11pt; 
    font-family: 'Times New Roman', Times, serif;
}
.txt9 {
    width: 794px;
    height: 18px;
    font-size: 11pt; 
}
.txt10 {
    width: 486px;
    height: 18px;
    font-size: 11pt; 
}
.txt11 {
    width: 203px;
    height: 18px;
    font-size: 11pt; 
}
.txt12 {
    width: 518px;
    height: 18px;
    font-size: 11pt; 
}
.txtsup {
    margin: 0 0 0 510;
}
@media print {
    form { display: none; }
}